<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GardenBuddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>335C3CE71D48093E002931E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335C3CFD1D48093E002931E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335C3D081D48093E002931E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
